# Fordítási termékek
esp32-firmware/.pio/
esp32-firmware/test/host/*.exe
ios-app/*.xcodeproj/
ios-app/**/Info.plist
ios-app/build.log
.DS_Store

# Egyedi sorozatszámokat tartalmaz, ne kerüljön fel sehova
hackintosh/
